input[type=text] {
    transition: all 0.3s;
    padding-top: 25vh;
}

@media only screen and (max-width: 768px) {
    input[type=text] {
        width: 89%;
        margin: 0 2%;
    }
}

input[type=text]:focus {
    color: #696b6d;
    border-color: #9b4dca;

}

input[type=text].search-bar {
    font-weight: 300;
    font-size: 2.5em;
}

.search.wrapper {
    max-width: 940px;
    margin: 0 auto;
}

.search.wrapper * {
    width: 100%;
}
